body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;

}

header {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    background: #ffff;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    padding: 5px;
}

header div {
    float: left;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

header .logo {
    margin-left: 73px;
    padding: 7px;

}

header .nav {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 100px;
    align-items: center;

}

header .nav ul {
    list-style: none;
    padding: 0px 5px;
}


header .nav ul li {
    float: left;
    padding-right: 10px;
    padding-top: 0;
    font-weight: bold;

}

header .nav ul li a {
    text-decoration: none;
    color: rgb(184, 174, 174);
    padding: 0px 8px;
    text-transform: uppercase;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;

    font-size: .60rem;
}

header .nav ul li a:hover {
    color: rgb(0, 177, 177);
}
.checkbtn{
    display: none;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.9);
    float: right;
    line-height: 80px;
    margin-right:-170px ;
    
}
#check{
    display: none;
    
    
   
    
}

/* main section--> */
.section1 {
    background-color: #dff3fadb;
    width: 100%;
    height: 665px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.half1,
.half2 {
    width: 50%;
}

.half1 {
    margin-left: 63px;
    margin-bottom: 60px;

}

.half2 {
    padding-right: 160px;
    margin-top: 50px;
}

.half2 img {
    max-width: 100%;
    height: auto;

}

.half1 h3 {
    font-weight: normal;
}

.half1 h1 {
    font-size: 50px;
}

.half1 p {
    color: rgba(103, 120, 169, .9);
}

.half1 input {
    padding: 8px 20px;
    background-color: #9d97f2;
    border: none;
    color: #fff;
    font-size: 14px;
    border: 1px solid #9d97f2;
    font-weight: bold;
    cursor: pointer;
}

.half1 input:hover {
    box-shadow: 5px 15px 30px rgba(144, 176, 255, 0.5);
    background-color: #8983e1;
    transition: all .3s ease-in 0.1s;
}

/* section 2 */
.section2 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 div {
    width: 40%;
    margin: 0, auto;
    padding: 50px;
}

.section2 div img {
    width: 90%;
    /* height: auto; */
}

.section2 .img2 {
    padding-left: 40px;
}

.text2 h2 {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
    line-height: 0px;
}

.text2 h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 0px;
}

.text2 p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
    width: 90%;
}

.text2 input {
    font-size: 20px;
    padding: 12px 16px;
    outline: none;
    color: #fff;
    background-color: #8983e1;
    border: none;
}

.text2 input:hover {
    box-shadow: 5px 15px 30px rgba(144, 176, 255, 0.5);
    background-color: #8983e1;
    transition: all .3s ease-in 0.1s;
}

/* section3 */
.section3 {
    width: 100%;
    height: 650px;
    margin: 0 auto;
    text-align: center;
}

.text3 h1 {
    font-size: 40px;
    line-height: 10px;

}

.text3 p {
    width: 650px;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.7);
}

.service {
    width: 80%;
    margin: 0 auto;
    padding-top: 45px;
}

.ser1,
.ser2 {
    width: 100%;
    overflow: hidden;

    .ser2 {
        padding-top: 30px;
    }

}

.ser1 div,
.ser2 div {
    width: 30%;
    float: left;
    padding: 5px;
    margin: 0 auto;

}

.service i {
    font-size: 45px;
    color: rgba(0, 0, 0, 0.7)
}

.service h3 {
    color: rgba(0, 0, 0, 0.9)
}

.service p {
    color: rgba(0, 0, 0, 0.6)
}

.ser1 div:hover {
    background-color: #8983e1;
    color: white;

}

.ser1 div:hover i {
    color: white;


}

.ser1 div:hover h3 {
    color: white;


}

.ser1 div:hover p {
    color: white;


}

.ser2 div:hover {
    background-color: #8983e1;


}

.ser2 div:hover i {
    color: white;


}

.ser2 div:hover h3 {
    color: white;


}

.ser2 div:hover p {
    color: white;


}

/* section4 */
.section4 {
    width: 100%;
    height: 200px;
    background-color: #8983e1;
}

.section4 div {
    float: left;
    width: 20%;
    margin: 0 auto;
    position: relative;
    top: 50px;
    left: 95px;
}

.section4 h1 {
    font-size: 45px;
    line-height: 0px;
}

.section4 h1,
p {
    text-align: center;
    color: white;
}

.section5 {
    width: 100%;
    box-sizing: border-box;
}

.section5 .text4 {
    text-align: center;
    padding: 80px 0;
}

.section5 .text4 h1 {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 5px;
}

.section5 .text4 p {
    margin-top: 20px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.7);
}

.section5 .parent {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

.section5 .parent div {
    width: 340px;
    height: 339px;
    padding-bottom: 60px;
    text-align: center;
}

.section5 .parent div img {
    width: 100%;
    height: 100%;
}

.section5 .parent div h1 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 0px;
}

.section5 .parent div p {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 0px;
}

.section5 figure {
    background: linear-gradient(40deg, #8983e1 40%, #0c7fd2 100%);
    width: 340px;
    height: 339px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 3%;
}

.section5 figure img:hover {
    opacity: 0.3;
    transition: all .3s ease-in-out;
}

/* section 6 */
.section6 {
    width: 100%;
    height: 700px;
    padding-top: 50px;
}

.section6 .text5 {
    text-align: center;
    padding: 2% 0;

}

.section6 .text5 h1 {
    font-size: 40px;
    line-height: 0;
    padding-top: 15px;
}

.section6 .text5 p {
    color: rgba(0, 0, 0, 0.7);
}

.card {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 10px;

}

.section6 .card1 {
    width: 180px;
    height: 600px;
    background-color: rgba(103, 120, 169, .9);
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.section6 .card1 h1 {
    font-size: 50px;
    padding-top: 8px;
}

.section6 .card1 input {
    outline: none;
    background-color: rebeccapurple;
    color: white;
    font-size: 20px;
    padding: 2px 20px;
    font-weight: bold;
    border: 1px solid white;
    cursor: pointer;
}

.section6 .card1:hover {
    background-color: #8983e1;
    color: white;
    transition: all 0.25s ease-in;
    transform: scale(1.05);
    border: 1px solid rgba(144, 176, 255, 0.5);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.7);
}

.section6 .card1:hover input {
    color: rgba(0, 0, 0, 0.6);
    background-color: white;
}

.section6 .card1 .price {
    font-size: 30px;
}

/* footer  */
footer {
    background-color: rgba(22, 10, 79, 0.65);
    width: 100%;
    height: 300px;
    position: absolute;
    color: white;
    margin-top: 120px;
    align-items: center;
}

footer .foot {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 80px;
    align-items: center;
    font-size: 0.7rem;
}

footer .foot .foot1 p {
    color: rgba(255, 255, 255, .5);
    width: 100%;
    height: auto;
    margin-top: 10px;


}

footer .foot .foot1 input {
    font-size: 12px;
    border: none;
    padding: 7px 60px 7px 7px;
}

footer .foot .foot1 button {
    font-size: 12px;
    color: white;
    background-color: rgba(103, 120, 169, .9);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
}

footer .foot .foot1 i {
    font-size: 10px;
    cursor: pointer;
    padding: 2px 5px;
}

footer .foot .foot1 i:hover {
    color: #8983e1;
}
/* responsive */
@media (max-width: 768px) {
    header {
        width: 100%;
        height: auto;
    }
    header .logo{
        margin-left: 10px;
        padding: 20px;
    }
    .checkbtn{
        display: block;
    }
    header   .nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fff;
        top: 54px;
        left: -200%;
        transition: all .1s;
    }
    header   .nav ul li{
        line-height: 30px;
        clear: both;
        margin-top: 15px;
    }
    #check:checked ~ ul{
        left: 0;
    }
}